@keyframes diagonal {
    to {bottom: 100vh;}
}
.background_bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(213, 240, 255);
    border-radius: 50%;
    animation-name: diagonal;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    z-index: 0;
}
