@font-face {
    font-family: 'VarelaRound';
    src: url('../assets/fonts/varelaround.ttf');
}

@font-face {
    font-family: 'Outline';
    src: url('../assets/fonts/Monserga-regular-FFP.ttf');
}

@font-face {
    font-family: 'Vacaciones';
    src: url('../assets/fonts/Vacaciones-font-ffp-defharo.ttf');
}

@font-face {
    font-family: 'GlamourGirl';
    src: url('../assets/fonts/GLAMOURGIRL.TTF');
}