#rina {
    left: calc(50vw - 200px);
    top: calc(38vh - 200px);
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(86, 163, 204);
}