{% load static %}

<head>
	<!-- jquery, react, babel (for react) CDNs -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

	<title>Rina ♡</title>
	<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
	<div id="background_bubbles"></div>
	<link rel="stylesheet" href="{% static 'css/bubbles.css' %}">
	<img id="rina" src="{% static 'assets/img/rina/neutral.png' %}">
	<div id="dialoguebox_container">
		<div id="dialoguebox">...</div>
		<div id="boxoptions"></div>
	</div>
	<div id="options"></div>
	<div id="footertext">© <a href="http://brandonssandbox.com/">Brandon Lee</a> 2021</div>

	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

	<script src="{% static 'js/options.js' %}" type="text/babel" crossorigin></script>
</body>