{% load static %}

<head>
	<title>Rina ♡</title>
	<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/background.css' %}">
</head>
<body>
	<div id="background_bubbles"></div>
	<script src="{% static 'js/bubbles.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/bubbles.css' %}">

	<img id="rina" src="{% static 'assets/img/rina/neutral.png' %}">
	<link rel="stylesheet" href="{% static 'css/rina.css' %}">

	<div id="dialoguebox_container"><div id="dialoguebox">...</div></div>
	<script src="{% static 'js/typewriter.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/dialoguebox.css' %}">
</body>