{% load static %}

<head>
	<title>Rina ♡</title>
	<link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
	<div id="background_bubbles"></div>
	<script src="{% static 'js/bubbles.js' %}"></script>
	<img id="rina" src="{% static 'assets/img/rina/neutral.png' %}">
	<div id="dialoguebox_container"><div id="dialoguebox">...</div></div>
	<script src="{% static 'js/typewriter.js' %}"></script>
</body>